:root {

    background-color: rgb(0, 0, 0);
}
.bienvenida {
    background-color: black;
    color: orange;
    text-align: center;
    padding-top: 150px;
    font-size: 40px;
}
.navBar {
    background-color: gray;
    font-size: 40px;
}
.carrito {
    margin: 10px;
    padding: 10px;
}
.titulo {
    margin: 10px;
    padding: 10px;
}